<form class="form-signin" [formGroup]="registrationForm">
  <h1 class="h3 mb-3 font-weight-normal">Please Registration</h1>  
  <div class="form-group">
      <label class="sr-only">FirstName</label>
      <input type="text" class="form-control" formControlName="firstName"
       placeholder="FisrtName" required="" autofocus="">
  </div>
  <div class="form-group">
      <label class="sr-only">LastName</label>
      <input type="text" class="form-control" formControlName="lastName"
       placeholder="LastName" required="" autofocus="">
  </div>
  <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" formControlName="email"
       placeholder="Email address" required="" autofocus="">
       <label class="text-danger" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors?.email">Invalid email address.</label>
  </div>
  <div class="form-group">
        <label class="sr-only">Password</label>
        <input type="password" class="form-control" formControlName="password"
        placeholder="Passwords" required="" autofocus="">
        <label class="text-danger" *ngIf="registrationForm.get('password').touched && registrationForm.get('password').errors?.required">Password is mandatory required.</label>
        <label class="text-danger" *ngIf="registrationForm.get('password').touched && registrationForm.get('password').errors?.minlength">Minimum 4 characters required.</label>
  </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register(registrationForm.value)">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
</form>